.frontpage-stats {
  list-style: none;
  padding-left: 0;
  counter-reset: item;
}

.frontpage-stats li {
  counter-increment: item;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
}

.frontpage-stats li::before {
  content: counter(item);
  display: inline-block;
  min-width: 30px; 
  height: 30px;
  margin-right: 10px;

  background-color: #f8d778;  
  color: #6c757d;              

  font-size: 0.9rem; 
  font-weight: 600;

  text-align: center;
  line-height: 30px;

  border-radius: 6px;
}